h1,h2,h3,h4,h5,h6,p {font-family: Roboto;}

.transform {
  -webkit-transition: all 2s linear;  
  -moz-transition: all 2s linear;  
  -o-transition: all 2s linear;  
  -ms-transition: all 2s linear;  
  transition: all 2s linear;
}

.transform-active {
  transform: translate3d(500px,0,0);
}

.wtransform {
  -webkit-transition: all 2s linear;  
  -moz-transition: all 2s linear;  
  -o-transition: all 2s linear;  
  -ms-transition: all 2s linear;  
  transition: all 2s linear;
}

.wtransform-active {
  transform: translate3d(500px,0,0);
}
  
.circle {background: #ffffff; width: 12px; height: 12px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: #000000; margin-right: 7px; margin-left: -5px;display:inline-block; vertical-align: middle;}

.athlete {clear: both; margin: -5px 0px -5px 0px;margin-left: -500px; width: fit-content;}

.run {display: inline-block; height: 1px; border: 0; border-top: 2px solid #000000; vertical-align: middle; width: 500px;}

.name {display:inline-block; vertical-align: middle; font-size: 0.8em; font-weight: 300;}

#button {border: none; border-radius: 25px; background: #890817; color: white; font-weight: 300; font-family: Roboto; font-size: .8em; padding: 10px 10px 10px 10px;}

#wbutton {border: none; border-radius: 25px; background: #890817; color: white; font-weight: 300; font-family: Roboto; font-size: .8em; padding: 10px 10px 10px 10px;}

@media only screen and (max-width: 600px) {
	.athlete {clear: both; margin: -5px 0px -5px 0px;margin-left: -300px; width: fit-content;}
	.run {display: inline-block; height: 1px; border: 0; border-top: 2px solid #000000; vertical-align: middle; width: 300px;}
	.transform-active {
	  transform: translate3d(300px,0,0);
	}
	.wtransform-active {
	  transform: translate3d(300px,0,0);
	}
	}


